

.register-form{
    width: 50%;
    margin: 0 auto;
    border: 1px solid gray;
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px;

}
.register-form h1{
    color: blue;
    text-align: center;
}
.register-form input{
    display: block;
    width:100%;
    font-size: 18px;
    padding-left: 10px;
    height: 50px;
    margin-bottom: 15px;
}